<div class="main">
<div class="card-group">
    <div class="card">
      <img src="../../assets/img/arbol1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Arbol de Jacaranda</h5>
        <p class="card-text">Este arbol es tipico de America Latina aunque se encuentra en varias partes del mundo</p>
       
      </div>
    </div>
    <div class="card">
      <img src="../../assets/img/arbol2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Arbol de Tilo</h5>
        <p class="card-text">Este arbol es tipico de America Latina aunque se encuentra en varias partes del mundo</p>
       
      </div>
    </div>
    <div class="card">
      <img src="../../assets/img/arbol3.jfif" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Arbol PaloBorracho</h5>
        <p class="card-text">Este arbol es tipico de America Latina aunque se encuentra en varias partes del mundo</p>
       
      </div>
    </div>
  </div>
</div>